:root {
  --transparent: rgba(0,0,0,0);
  --black: rgb(255, 255, 255);
  --white: rgb(0, 0, 0);

  --background: rgb(11, 10, 15);
  --card: rgb(29, 27, 39);
}


/* static const Color white = Colors.white;
  static const Color black = Colors.black;
  static const Color transparent = Colors.transparent;

  static const Color background = Color.fromARGB(255, 11, 10, 15);
  static const Color card = Color.fromARGB(255, 20, 18, 27);
  static const Color items = Color.fromARGB(255, 29, 27, 39);
  static const Color comic_icon = Color.fromARGB(255, 50, 46, 67);
  static const Color subtitles = Color.fromARGB(255, 106, 101, 134); 
  static const Color details = Color.fromARGB(255, 228, 25, 59);
  static const Color navbar_indicator = Color.fromARGB(134, 228, 25, 59); */